# Variables de entorno reales (NO subir credenciales)
.env
# La plantilla SÍ se sube (no tiene contraseñas)
!.env.example

# Scripts SQL de migración (no subir al repo)
backend/migrations/

# Ignorar todos los archivos markdown y de base de datos
*.md
*.sql
# Excepción: SÍ subir el README principal (Descomenta la siguiente línea si tienes uno)
!README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?